@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source sans 3', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #212529;
    --primary-btn-color: #1d809f;
    --primary-btn-hover-color: #196d87;
    --btn-dark-hover-clr: #424649;

}

.container {
    padding-inline: 1.5rem;
    margin-inline: auto;
    width: 90%;
}

.btn {
    padding: 20px 40px;
    background-color: var(--primary-btn-color);
    text-transform: capitalize;
    color: white;
    border-radius: 6px;
    transition: 150ms ease-in-out;

    &:hover {
        background-color: var(--primary-btn-hover-color);
    }
}

body {
    input {
        display: none;

        &:checked+nav {
            right: 0;

        }
    }
}

.sidebar_btn {
    z-index: 999;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    border-radius: .325rem;
    cursor: pointer;


    i {
        display: inline-block;
        height: 1em;
        margin-right: 10px;
        vertical-align: middle;
        overflow: hidden;
        padding-inline: 1.1rem;

    }
}

#sidebar {
    width: 250px;
    right: 250px;
    height: 100%;
    transition: all 0.4s ease;

    position: fixed;
    z-index: 2;
    transform: translateX(250px);
    background-color: var(--primary-btn-color);
    border-left: 1px solid rgba(255, 255, 255, 0.1);


    ul {
        list-style: none;

        li {

            a {
                display: block;
                padding: 15px;
                text-decoration: none;
                color: white;
                font-size: 1rem;

                &:hover {
                    background-color: #ffffff33;
                }
            }

            .logo {
                padding-block: 16px;
                padding-left: 15px;
                font-size: 1.2rem;
                background: rgba(52, 58, 64, 0.1);
                height: 80px;
                line-height: 50px;

                &:hover {
                    background: rgba(52, 58, 64, 0.1);

                }

            }
        }
    }
}

.masthead {
    padding-block: 8rem;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
        url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 30rem;

    display: flex;
    align-items: center;

    .container {
        text-align: center;


        h1 {
            font-size: 5.5rem;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: .25rem;
            color: var(--primary-color);
            text-transform: capitalize;
        }

        h3 {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2;
            color: var(--primary-color);
            text-transform: capitalize;
            font-style: italic;
            margin-bottom: 3rem;
        }
    }
}

.content {
    padding-block: 7.5rem;
    display: flex;
    align-items: center;

    .container {
        text-align: center;
        

        h2 {
            font-size: 2rem;
            margin-bottom: .5rem;
            color: var(--primary-color);
        }

        p {
            font-size: 1.25rem;
            margin-bottom: 3rem;
            color: var(--primary-color);
            font-weight: 200;
        }

        .btn {
            background-color: var(--primary-color);
            &:hover {
                background-color: var(--btn-dark-hover-clr);
            }
        }
    }
}

.wwo {
    padding-block: 120px;
    background-color: #1d809f;

    .container {
        text-align: center;

        .text {
            h3 {
                font-size: 1rem;
                color: #ecb807;
                text-transform: uppercase;
            }
            h2 {
                font-size: 3rem;
                margin-bottom: 3rem;
                color: white;
            }
        }

        .icon_text {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .col {
                padding-inline: 1.5rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;    
                justify-content: center;

                .icon {
                    background-color: white;
                    border-radius: 50%;
                    height: 7rem;
                    width: 7rem;
                    display: block;
                    margin-inline: 5rem;
                    margin-bottom: 1rem;
                    position: relative;
                    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);


                    svg {
                        width: 36px;
                        height: 36px;
                        stroke: var(--primary-btn-color);
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translate(100%, 100%);
                    }

                }

                h4 {
                    font-size: 1.5rem;
                    color: #fff;
                    line-height: 2.5rem;
                    
                }

                p {
                    color: rgba(255, 255, 255, 0.7);
                    & > .heart {
                        width: 1rem;
                        height: .8rem;
                        fill: currentColor;
                    }
                }
            }
        }
    }
}